# ETS Take Home

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
#import dataset
data=pd.read_excel('online_retail.xlsx')
data.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

## Missing Value

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [20]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [22]:
datanew=data.dropna(subset=['Description'])

In [24]:
np.sum(datanew.isnull())

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133626
Country             0
dtype: int64

In [25]:
datanew.shape

(540455, 8)

In [27]:
datanew.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540455 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      540455 non-null object
StockCode      540455 non-null object
Description    540455 non-null object
Quantity       540455 non-null int64
InvoiceDate    540455 non-null datetime64[ns]
UnitPrice      540455 non-null float64
CustomerID     406829 non-null float64
Country        540455 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 37.1+ MB

##

In [30]:
group_InvoiceNo=datanew.groupby('InvoiceNo')
transactions=[]
for name,group in group_InvoiceNo:
    transactions.append(list(group['Description'].map(str)))

In [32]:
from apyori import apriori

In [33]:
assrules=apriori(transactions,min_support=0.01, min_confidence=0.9, min_lift=1.1, min_length=2)
hasil=list(assrules)

In [34]:
# Visualising the result as a readeable dataframe
final_results = pd.DataFrame(np.random.randint(low=0, high=1, size=(len(hasil), 6)), columns=['GeneralRules', 'LeftRules', 'RightRules', 'Support', 'Confidence', 'Lift'])
index = 0
for g, s, i in hasil:
    final_results.iloc[index] = [' _&&_ '.join(list(g)), ' _&&_ '.join(list(i[0][0])), ' _&&_ '.join(list(i[0][1])), s, i[0][2], i[0][3]]
    index = index+1
# The most significant rules
final_results1 = final_results.sort_values('Support', ascending=0)
final_results1

,GeneralRules,LeftRules,RightRules,Support,Confidence,Lift
0,REGENCY TEA PLATE PINK _&&_ REGENCY TEA PLATE ...,REGENCY TEA PLATE PINK _&&_ REGENCY TEA PLATE ...,REGENCY TEA PLATE ROSES,0.010554,0.914894,48.939802
1,CHARLOTTE BAG SUKI DESIGN _&&_ STRAWBERRY CHAR...,CHARLOTTE BAG SUKI DESIGN _&&_ STRAWBERRY CHAR...,RED RETROSPOT CHARLOTTE BAG,0.010104,0.904762,21.064580

In [35]:
count=1
for i, d in final_results1.head(10).iterrows():
    print('Rule #'+str(count)+':')
    print(d['LeftRules'])
    print('=> '+d['RightRules'])
    print('Support: '+str(d['Support'])+' - Confidence: '+str(d['Confidence'])+' - Lift: '+str(d['Lift']))
    print('--------------------')
    count=count+1

Rule #1:
REGENCY TEA PLATE PINK _&&_ REGENCY TEA PLATE GREEN
=> REGENCY TEA PLATE ROSES
Support: 0.01055387384439172 - Confidence: 0.9148936170212765 - Lift: 48.93980166674426
--------------------
Rule #2:
CHARLOTTE BAG SUKI DESIGN _&&_ STRAWBERRY CHARLOTTE BAG _&&_ CHARLOTTE BAG PINK POLKADOT
=> RED RETROSPOT CHARLOTTE BAG
Support: 0.010103902478933158 - Confidence: 0.9047619047619047 - Lift: 21.064580498866214
--------------------

In [36]:
final_results1.to_excel(r'E:\hasil1.xlsx')

In [37]:
data["InvoiceNo"].value_counts()

573585     1114
581219      749
581492      731
580729      721
558475      705
579777      687
581217      676
537434      675
580730      662
538071      652
580367      650
580115      645
581439      635
580983      629
578344      622
538349      620
578347      606
537638      601
537237      597
576617      593
536876      593
536592      592
537823      591
576837      585
579508      578
577078      572
537240      568
577358      561
576618      552
576840      544
           ...
544325        1
563700        1
C573549       1
563934        1
C561225       1
C541689       1
564076        1
C539661       1
C549788       1
564109        1
567487        1
544192        1
C552021       1
564086        1
564085        1
C544429       1
564082        1
C570276       1
C549723       1
C576565       1
564048        1
564047        1
564046        1
C567357       1
C568347       1
563981        1
C567903       1
C572750       1
C566222       1
C542270       1
Name: InvoiceNo, Length: 25900, dtype: int64

> Persentase REGENCY TEA PLATE PINK, REGENCY TEA PLATE GREEN, dan REGENCY TEA PLATE ROSES dibeli secara bersamaan sebesar 1,055% dari total transaksi. 

>Pembelian produk REGENCY TEA PLATE PINK dan REGENCY TEA PLATE GREEN  pelanggan juga membeli produk REGENCY TEA PLATE ROSES sebesar 91,489%. 

> Lift lebih besar dari 1, maka pelanggan yang membeli produk REGENCY TEA PLATE PINK dan REGENCY TEA PLATE GREEN memiliki kencerungan tinggi untuk membeli produk REGENCY TEA PLATE ROSES.